@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "Graphik";
  src: url("./assets/font/graphic-web-regular.ttf");
  font-family: "Tiempos-Regular";
  src: url("./assets/font/TiemposHeadline-Regular.otf");
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/font/Poppins-Regular.ttf");
}
@font-face {
  font-family: "AbrilFatface";
  src: url("./assets/font/AbrilFatface-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter-VariableFont_slnt\,wght.ttf");
}

@layer base {
  html {
    font-family: "Graphik", system-ui, sans-serif;
    font-family: "Tiempos-Regular", system-ui, sans-serif;
  }

  .sans-serif {
    font-family: sans-serif;
  }
  .tiempos {
    font-family: "Tiempos-Regular";
  }
  .graphik {
    font-family: "Graphik";
  }
  .poppins {
    font-family: "Poppins";
  }
  .abrilfatface {
    font-family: "AbrilFatface";
  }
  .inter {
    font-family: "Inter";
  }
}


body {
  margin: 0;
  font-family: "AbrilFatFace", "Graphik", "Tiempos-Regular", system-ui, sans-serif, "Poppins", "Inter";
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
